* {
    box-sizing: border-box;
}


.list {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style: none;
}
.list li {
    height: 40px;
}

.list li:first-child {
    margin-right: 10px;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text_box {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 6px;
}

.text p {
    margin: 0;
    padding: 0;
}

.user_name {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}

.isOnline {
    text-align: right;
    font-size: 10px;
    font-weight: 500;
    line-height: 22px;
}

.message {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
}


.link {
    display: block;
    width: 220px;
    transition: background-color 0.5s cubic-bezier(0, 0, 0.37, 0.81);
}

.link:hover {
    background-color: #b1e8d4;
}

.active {
    background-color: #47dc95;
    animation: linkColor 1s cubic-bezier(0, 0, 0.37, 0.81);
}

.active:hover  {
    background-color: #47dc95;
}

@keyframes linkColor {
    0% {
        background-color: #b1e8d4;
    }
    100% {
        background-color: #47dc95;
    }
}






