@import "../../mixins/mixins";

.buttons {
  display: flex;
  padding-top: 15px;

  button {
    width: 40px;
    height: 40px;
    margin-left: 10px;


    border: none;
    outline: none;
    background-color: $green;
    cursor: pointer;
  }

  .selected {
    font-weight: 600;
    background-color: $lightBlue;
  }
}

.list {
  display: flex;
  margin: 0;
  padding: 15px 25px;
  list-style: none;
  border-bottom: 1px solid transparentize($darkGrey, .8);
}

.item {
  &:not(:first-child) {
    padding-top: 15px;
  }

  &:nth-child(2) {
    margin-left: 15px;
  }

  &:last-child {
    margin-left: auto;
  }

  img {
    border-radius: 50%;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 24px;
  }
}

.name {
  font-weight: 600;
}