.chats {
    display: flex;
}

.list {
    width: 220px;
    height: 420px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-right: 1px solid rgba(57, 57, 57, 0.4);
}


.message_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
