@font-face {
    font-family: "Bebas Neue";
    src: url(../../fonts/BebasNeue-Regular.ttf);
}

.header {
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1);
}

.list {
    display: flex;

    width: 1020px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.item:nth-child(2) {
    padding-left: 126px;
}

.item:last-child {
    margin-left: auto;
}

.logo {
    display: block;
    width: 174px;
    padding: 0 58px;

    font-family: "Bebas Neue", serif;
    font-size: 38px;
    line-height: 60px;
}

.logo:hover {
    color: #fff;
    background-color: #47dc95;
}

.search_form {
    padding-top: 14px;
}


.search_form input[type=text] {
    width: 320px;
    height: 32px;
    padding-left: 31px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 14px;
    line-height: 16px;
    color: #393939;

    border: 1px solid #393939;
    border-radius: 16px;
}

.search_form input[type=text]:focus {
    outline: none;
}

.avatar {
    border-radius: 50%;
}



