.search_form {
    width: 100%;
}

.search_form input[type=text]{
    width: 220px;
    padding: 12px 10px;
    border: none;
    border-right: 1px solid rgba(57, 57, 57, 0.4);
    border-bottom: 1px solid rgba(57, 57, 57, 0.4);

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.search_form input[type=text]:focus {
    outline: none;
}

