.vissually_hidden:not(:focus):not(:active),
input[type="checkbox"].vissually_hidden,
input[type="radio"].vissually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.avatar {
    height: 260px;
    padding: 0;
    margin: 0;
}

.avatar img{
    width: 260px;
    height: 260px;
}

.box {
    width: 260px;
    padding-top: 15px;
    padding-left: 15px;
}

.user_descr p{
    padding: 0;
    margin: 0;
}

.name {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

}


.social_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.social_item:first-child img:hover{
    fill: #47dc95;
}