.facebook #path_1,
.instagram #path_1,
.twitter #path_1,
.linkedin #path_1{
    transition: fill 0.2s linear;
}

.facebook:hover #path_1,
.instagram:hover #path_1,
.twitter:hover #path_1,
.linkedin:hover #path_1 {
    fill: #47dc95;
}

.facebook #path_2,
.instagram #path_2,
.twitter #path_2,
.linkedin #path_2 {
    transition: fill 0.2s linear, opacity 1s linear;
}

.facebook:hover #path_2,
.instagram:hover #path_2,
.twitter:hover #path_2,
.linkedin:hover #path_2 {
    fill: #3d3d3d;
    opacity: 1;
}
