body {
  box-sizing: border-box;
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #393939;
}

a {
  color: #393939;
  text-decoration: none;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1020px;

  padding: 0;
  margin: 20px auto 0;

  list-style: none;
}



.box__item {
  width: 70.6%;
  margin-bottom: 20px;

  background-color: #fff;
}

.box__item:first-child {
  width: 27.5%;
  height: 100%;
}

.box-profile {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;

}

.box-profile li {
  margin-bottom: 20px;
}




