@import "src/mixins/mixins";

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: $darkGrey;
}

a {
  color: $darkGrey;
  text-decoration: none;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1020px;

  padding: 0;
  margin: 20px auto 0;

  list-style: none;
}



.box__item {
  position: relative;
  width: 720px;
  margin-bottom: 20px;

  .wrapper {
    background-color: #fff;
    border-radius: $radius;
  }

  #post {
    section {
      background-color: transparent;
    }
  }

  &:first-child {

    box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1);
    width: 280px;
    height: 100%;
  }
}



