body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.box {
  width: 900px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
}

.container{
  background-color: #fff;
}

.profile {
  width: 590px;
}

.profile__list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.calendar-box {
  width: 280px;
  height: 302px;
}