@import "src/mixins/_mixins";

.post_form {
  display: flex;

  min-height: 60px;
  padding: 10px 20px 20px;

  .form {
    width: 100%;
    margin-left: 15px;
  }

  .input {
    min-height: 40px;
    max-height: 120px;
    width: 100%;

    resize: none;
    overflow: hidden;

    padding: 6px 5px;

    border: none;
    border-bottom: 1px solid lighten($darkGrey, 60%);
    outline: none;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;

    &:focus {
      border: none;
      border-bottom: 1px solid lighten($darkGrey, 60%);
      outline: none;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: lighten($darkGrey, 20%);
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button {
  width: 100px;
  height: 30px;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 20px;
  cursor: pointer;

  border: none;
  border-radius: $radius;
  background-color: $lightBlue;
  @include shadow;

  color: $darkGrey;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;

  &:hover {
    @include linkColorAnimation(.5s, .5s);
    background-color: $green;
    color: #fff;
  }

  &:active {
    background-color: darken($green, 5%);
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

@include key($darkGrey, #ffffff);