.post_form {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(47, 83, 151, 0.1);
    border-radius: 6px;
}

.buttons_list,
.action_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

